<div class="container-fluid h-100 d-table">
  <div class="row custom text-center" *ngIf="!terminos">
    <p class="mx-auto my-0">
      <ngb-alert class="m-0" type="custom" [dismissible]="false"><strong>Aviso legal!</strong> este no es el sitio oficial de <a href="https://almundo.com"> almundo.com. </a> de click en el enlace para ser redireccionado al sitio oficial.</ngb-alert>
    </p>
    <button class="btn button py-0 px-1 mx-auto mb-2 my-md-auto mx-md-0 mr-md-3" [ngStyle]="{'font-size.%': 90}" (click)="terminos = !terminos">Lo entiendo!</button>
  </div>
  <app-title-bar class="row"></app-title-bar>
  <app-content class="row p-md-3"></app-content>
</div>
