<div class="card col-12 stars">
  <div class="container-fluid">
    <div class="row" (click)="isCollapsed = !isCollapsed">
      <div class="col-2 col-md-1 px-0 pt-2 pt-md-1 text-center">
        <svg-icon src="assets/icons/filters/star.svg"
                  [svgStyle]="{'width.px': 18, 'fill':'#157AB1'}" 
                  [ngStyle]="{'width.px': 18}"></svg-icon>
      </div>
      <div class="col-8 col-md-10 px-0 pt-2 pt-md-1">
          <span class="font-weight-bold">Estrellas</span>
      </div>
      <div class="col-2 col-md-1 px-0 pt-2 pt-md-1">
        <svg-icon [src]="isCollapsed ? 'assets/icons/filters/drop-down-arrow.svg' : 'assets/icons/filters/drop-up-arrow.svg'"
          [svgStyle]="{'width.px': 16, 'height.px': 16, 'fill':'#157AB1'}" 
          [ngStyle]="{'width.px': 16}"></svg-icon>
      </div>
    </div>
    <div class="row" [ngbCollapse]="isCollapsed">
      <div class="container-fluid">
        <app-hotels-filter-star ngId="all-stars" label="Todas las estrellas" [stars]="0"></app-hotels-filter-star>
        <app-hotels-filter-star ngId="five-stars" label="" [stars]="5"></app-hotels-filter-star>
        <app-hotels-filter-star ngId="four-stars" label="" [stars]="4"></app-hotels-filter-star>
        <app-hotels-filter-star ngId="three-stars" label="" [stars]="3"></app-hotels-filter-star>
        <app-hotels-filter-star ngId="two-stars" label="" [stars]="2"></app-hotels-filter-star>
        <app-hotels-filter-star ngId="one-star" label="" [stars]="1"></app-hotels-filter-star>
      </div>
    </div>
  </div>  
</div>